/*
Colors Palette:
Primary Color (Blue): #016f92, 014b62, 017ea3;
Secondary Color (Green): #018483;
Tertiary Color (Orange): #d33f05, #b63400;
Background (Gray, White): #eceded, #f8fcfd;
*/

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.85em;
  font-weight: 700;
}

h2 {
  font-size: 1.6em;
  font-weight: 700;
}

h3 {
  font-size: 1.45em;
  font-weight: 700;
}

h4 {
  font-size: 1.15em;
  font-weight: 600;
}

img {
  width: 100%;
}

a {
  color: #016f92;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #018483;
}

a:hover,
a:focus {
  color: #014b62;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #017ea3;
}

.button {
  display: inline-block;
  background-color: #018483;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #007478;
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #018483;
  color: hsl(0, 0%, 100%);
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

/* Contact email button */
.button.contact {
  background-color: transparent;
  color: #d33f05;
  text-transform: uppercase;
  border: 2px solid #d33f05;
}

.button.contact:hover {
  background-color: #d64005;
  color: hsl(0, 0%, 100%);
}

.button.contact:active {
  background-color: #b63400;
  color: hsl(0, 0%, 100%);
}

#social-links {
  width: 100px;
  margin-top: 10px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: left;
}

.logo {
  margin-top: 10px;
  max-width: 55%;
}

header {
  background-color: #eceded;
  width: 100%;
  padding: 0 0 4px;
  position: fixed;
}

.css-box-shadow {/* start ------------ */
  width: [object Object]px;
  height: [object Object]px;
  background: hsl(0, 0%, 97%);
  border: solid hsl(0, 0%, 74%) 1px;
  box-shadow: 0 4px 16px rgba(2, 52, 70, 0.2);
  -webkit-box-shadow: 0 4px 16px rgba(2, 52, 70, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(2, 52, 70, 0.2);
}

main {
  padding-top: 96px;
}

body {
  background-color: #eceded;
  font-family: 'Istok Web', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #023446;
}

footer {
  background-color: #f8fcfd;
}

/* hamburger menu */
.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 20px;
  font-size: 20px;
}

.navtoggle.responsive li {
  display: block;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid #ff7f5080;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

/* regular menu */
nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #d33f05;
  transition: 0.5s opacity;
}

nav > ul > li > a:visited { /* visited link */
  color: #d33f05;
}

nav > ul > li > a:hover,
a:focus {
  color: #d33f05;
  text-decoration: underline;
  opacity: 0.8;
}

nav > ul > li > a:active { /* selected link */
  color: #b63400;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #023446;
}

#about-page h3 {
  margin-bottom: 0;
  margin-top: 20px;
}

.image-about {
  display: inline-block;
  width: 100%;
}

#hero {
  background-color: #f8fcfd;
  text-align: left;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

#hero h1 {
  text-align: left;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #023446;
}

#work .container {
  padding: 20px 0;
}

#work h2 {
  padding-left: 10px;
}

#contact .container {
  padding-top: 10px;
}

iframe {
  display: flex;
}

/* medium devices 640px or wider */
@media only screen and (min-width: 580px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    position: fixed;
  }

  main {
    padding-top: 128px;
  }

  #hero h1 {
    text-align: center;
  }

  #hero p {
    padding: 0 25%;
    text-align: center;
  }

  section > ol > li {
    display: inline-block;
  }

  section > ol > li > a {
    padding: 0 15px;
    font-weight: 500;
    color: #018d92;
    transition: 0.5s opacity;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
    display: inline-block;
  }

  nav > ul > li {
    display: inline-block;
  }

  .navtoggle.responsive li {
    all: unset;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    all: unset;
    width: auto;
    float: right;
  }

  .logo {
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }

  .about-section1 {
    width: 50%;
    float: inline-start;
  }

  .image-about {
    display: flex;
    width: 60%;
  }
}

/* large devices 1024px or wider */
@media only screen and (min-width: 1024px) {
  main {
    padding-top: 160px;
  }

  .col-lg-7 {
    width: 60%;
  }

  .col-lg-5 {
    width: 40%;
  }

  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
  text-align: left;
}

/* practice animation */

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change1 {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change1 infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 24s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* hometown animation */

#hometown {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change2 {
  0% { fill: #f50011; }
  50% { fill: #c8000d; }
  100% { fill: #9f000a; }
}

.star {
  animation: 3s color-change2 infinite alternate linear;
}
