/*
Colors used:
Primary Color (Blue): #016f92;
Secondary Color (Green): #018d92;
Tertiary Color (Orange): #f98f49;
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f8fcfd;
  font-family: 'Istok Web', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #023446;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 400;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #016f92;
  text-decoration: none; /* No underlining */
}

a:visited { /* visited link */
  color: #018d92;
}

a:hover,
a:focus {
  color: #014b62;
  text-decoration: underline; /* Underlining when hovering over a link */
}

a:active { /* selected link */
  color: #51b0cd;
}

.button {
  display: inline-block;
  background-color: #018d92;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #007478;
  transition: 0.2s opacity;
}

.button:visited {
  background-color: #018d92;
  color: hsl(0, 0%, 100%);
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #fd7922;
  text-transform: uppercase;
  border: 2px solid #fd7922;
}

.button.contact:hover {
  background-color: #f98f49;
  color: hsl(0, 0%, 100%);
}

.button.contact:active {
  background-color: #bf4e03;
  color: hsl(0, 0%, 100%);
}

#social-links {
  width: 100px;
  margin-top: 10px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  align-items: left;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #023446;
}

#about-page .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #023446;
}

#about-page h3 {
  margin-bottom: 0;
  margin-top: 20px;
}

#hero {
  background-color: #f8fcfd;
  text-align: center;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
}

.logo {
  max-width: 250;
}

header {
  background-color: #eceded;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  position: relative;
}

nav {
  display: inline-block;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fd7922;
  transition: 0.5s opacity;
}

nav > ul > li > a:visited { /* visited link */
  color: #fd7922;
}

nav > ul > li > a:hover,
a:focus {
  color: #f85402;
  text-decoration: underline;
  opacity: 0.8;
}

nav > ul > li > a:active { /* selected link */
  color: #51b0cd;
}

.css-box-shadow {/* start ------------ */
  width: [object Object]px;
  height: [object Object]px;
  background: hsl(0, 0%, 97%);
  border: solid hsl(0, 0%, 74%) 1px;
  box-shadow: 0 4px 16px rgba(2, 52, 70, 0.2);
  -webkit-box-shadow: 0 4px 16px rgba(2, 52, 70, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(2, 52, 70, 0.2);
}

/* medium devices 640px or wider */
@media only screen and (min-width: 580px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .logo {
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
  }

  body {
    font-size: 18px;
  }

  .col-md-6 {
    width: 50%;
  }
}

/* large devices 1024px or wider */
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 40%;
  }

  .col-lg-7 {
    width: 60%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

[class*="col-"] {
  float: left;
  padding: 0 10px;
  text-align: left;
}

#about-picture {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change1 {
  0% { fill: #edc655; }
  50% { fill: #fcffad; }
  100% { fill: #f76414; }
}

.sun {
  animation: 4s color-change1 infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 24s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#hometown {
  width: 100%;
  max-width: 100%;
  height: auto;
}

@keyframes color-change2 {
  0% { fill: #f50011; }
  50% { fill: #c8000d; }
  100% { fill: #9f000a; }
}

.star {
  animation: 3s color-change2 infinite alternate linear;
}
